<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.distribute.scheduler.dao.SchedulerTaskMapper" >
  <resultMap id="BaseResultMap" type="com.yl.distribute.scheduler.entity.SchedulerTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="flow_id" property="flowId" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="VARCHAR" />
    <result column="failed_times" property="failedTimes" jdbcType="INTEGER" />
    <result column="running_host" property="runningHost" jdbcType="VARCHAR" />
    <result column="lastFailedHost" property="lastfailedhost" jdbcType="VARCHAR" />
    <result column="task_status" property="taskStatus" jdbcType="VARCHAR" />
    <result column="error_output_url" property="errorOutputUrl" jdbcType="VARCHAR" />
    <result column="std_output_url" property="stdOutputUrl" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="elapse_time" property="elapseTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, flow_id, job_id, failed_times, running_host, lastFailedHost, task_status, 
    error_output_url, std_output_url, start_time, end_time, elapse_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yl.distribute.scheduler.entity.SchedulerTask" >
    insert into tbl_task (id, task_id, flow_id, 
      job_id, failed_times, running_host, 
      lastFailedHost, task_status, error_output_url, 
      std_output_url, start_time, end_time, 
      elapse_time)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=VARCHAR}, #{flowId,jdbcType=INTEGER}, 
      #{jobId,jdbcType=VARCHAR}, #{failedTimes,jdbcType=INTEGER}, #{runningHost,jdbcType=VARCHAR}, 
      #{lastfailedhost,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, #{errorOutputUrl,jdbcType=VARCHAR}, 
      #{stdOutputUrl,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{elapseTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yl.distribute.scheduler.entity.SchedulerTask" >
    insert into tbl_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="flowId != null" >
        flow_id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="failedTimes != null" >
        failed_times,
      </if>
      <if test="runningHost != null" >
        running_host,
      </if>
      <if test="lastfailedhost != null" >
        lastFailedHost,
      </if>
      <if test="taskStatus != null" >
        task_status,
      </if>
      <if test="errorOutputUrl != null" >
        error_output_url,
      </if>
      <if test="stdOutputUrl != null" >
        std_output_url,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="elapseTime != null" >
        elapse_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="flowId != null" >
        #{flowId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="failedTimes != null" >
        #{failedTimes,jdbcType=INTEGER},
      </if>
      <if test="runningHost != null" >
        #{runningHost,jdbcType=VARCHAR},
      </if>
      <if test="lastfailedhost != null" >
        #{lastfailedhost,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorOutputUrl != null" >
        #{errorOutputUrl,jdbcType=VARCHAR},
      </if>
      <if test="stdOutputUrl != null" >
        #{stdOutputUrl,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="elapseTime != null" >
        #{elapseTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yl.distribute.scheduler.entity.SchedulerTask" >
    update tbl_task
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="flowId != null" >
        flow_id = #{flowId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="failedTimes != null" >
        failed_times = #{failedTimes,jdbcType=INTEGER},
      </if>
      <if test="runningHost != null" >
        running_host = #{runningHost,jdbcType=VARCHAR},
      </if>
      <if test="lastfailedhost != null" >
        lastFailedHost = #{lastfailedhost,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        task_status = #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorOutputUrl != null" >
        error_output_url = #{errorOutputUrl,jdbcType=VARCHAR},
      </if>
      <if test="stdOutputUrl != null" >
        std_output_url = #{stdOutputUrl,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="elapseTime != null" >
        elapse_time = #{elapseTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yl.distribute.scheduler.entity.SchedulerTask" >
    update tbl_task
    set task_id = #{taskId,jdbcType=VARCHAR},
      flow_id = #{flowId,jdbcType=INTEGER},
      job_id = #{jobId,jdbcType=VARCHAR},
      failed_times = #{failedTimes,jdbcType=INTEGER},
      running_host = #{runningHost,jdbcType=VARCHAR},
      lastFailedHost = #{lastfailedhost,jdbcType=VARCHAR},
      task_status = #{taskStatus,jdbcType=VARCHAR},
      error_output_url = #{errorOutputUrl,jdbcType=VARCHAR},
      std_output_url = #{stdOutputUrl,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      elapse_time = #{elapseTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache />
</mapper>